/* Default styles */
body {
    font-family: Arial, sans-serif; /* You can choose any font you prefer */
    background-color: #f2f2f2; /* This is a slightly dark shade, adjust as needed */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, section, footer {
    width: 80%; /* Take 80% of the viewport's width, this can be adjusted */
    margin-top: 20px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
}

footer {
    margin-top: auto; /* Push footer to bottom if there's remaining space */
}

/* For small screens */
@media only screen and (max-width: 768px) {
    header, section, footer {
        width: 95%; /* Take more space on smaller screens */
    }

    h1, h2 {
        font-size: 1.2em; /* Reduce the font size a bit on smaller screens */
    }
}
