/* Default styles */
body {
    background-color: #f2f2f2; 
    width: 90%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, section, footer {
    width: 80%; 
    margin-top: 20px;
    text-align: center;
}

img {
    max-width: 30%;
    height: auto;
}

.app-badge {
    width: 30%;
    display: inline-block; 
    vertical-align: top; 
}

.app-badge img {
    max-width: 100%; 
    height: auto;
}


ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
}

footer {
    margin-top: auto; 
}

/* For small screens */
@media only screen and (max-width: 768px) {
    header, section, footer {
        width: 90%; 
    }

    h1, h2 {
        font-size: 1.2em; 
    }
}
